body {
    margin: 15px;
    font-size: 0.9rem;
    color: #505050;
  }
  h1 {
    font-size: 2.5rem;
    color: #aaa;
  }
  nav {
    background-color: #f0f0f0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
  }
  nav ol {
    list-style-type: none;
    display: flex;
    gap: 4em;
  }
  article {
    max-width: 400px;
  }
  aside {
    background-color: azure;
    border-style: solid;
    max-width: 150px;
    padding: 5px;
    margin-left: 15px;
    height: 450px;

  }
  main {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .container-1 {
    position: absolute;
    right: 2em;
  }
  h3 {
    font-size: 1.5rem;
    color: #bbf;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  footer {
    background-color: #f0f0f0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
  }